@model BookStore.Models.Customer

@{
    ViewData["Title"] = "CustomerDetail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashBroad.cshtml";
}

<<<<<<< HEAD
<!-- Page Container START -->
<div class="page-container">


    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="page-header no-gutters has-tab">
            <h2 class="font-weight-normal">Customer's Profile</h2>
        </div>
        <div class="container">
            <div class="tab-content m-t-15">
                <div class="tab-pane fade show active" id="tab-account">
                    <div class="card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <div class="avatar avatar-image  m-h-10 m-r-15" style="height: 80px; width: 80px">
                                    <img src="~/admin/assets/images/avatars/thumb-3.jpg" alt="">
                                </div>
                                <div class="m-l-20 m-r-20">
                                    <h5 class="m-b-5 font-size-18" disabled="">@Model.FullName</h5>
                                </div>
                            </div>
                            <hr class="m-v-25">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="font-weight-semibold" for="userName">User Name:</label>
                                        <input type="text" class="form-control" id="userName" placeholder="User Name" value="@Model.FullName" disabled="">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="font-weight-semibold" for="email">Email:</label>
                                        <input type="email" class="form-control" id="email" placeholder="email" value="@Model.Email" disabled="">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label class="font-weight-semibold" for="phoneNumber">Phone Number:</label>
                                        <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number" value="@Model.Phone" disabled="">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="font-weight-semibold" for="dob">Date of Birth:</label>
                                        <input type="datetime" class="form-control" id="dob" placeholder="Date of Birth" value="@Model.Birthday" disabled="">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label class="font-weight-semibold" for="phoneNumber">Gender</label>
                                        @if(Model.Gender == true )
                                        {
                                            <input type="text" class="form-control" id="dob" placeholder="Address" value="Nam" disabled="">
                                        }
                                        else {
                                            <input type="text" class="form-control" id="dob" placeholder="Address" value="Nữ" disabled="">
                                        }
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="font-weight-semibold" for="dob">Address:</label>
                                        <input type="text" class="form-control" id="dob" placeholder="Address" value="@Model.Address" disabled="">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a asp-action="CustomerList" asp-controller="CustomerManager" class="btn btn-primary">Back to List</a>
            </div>
        </div>
        
    </div>
    <!-- Content Wrapper END -->
</div>