@model IEnumerable<BookStore.Models.OrderInfo>

@{
    ViewData["Title"] = "OrderList";
    Layout = "~/Areas/Staff/Views/Shared/_LayoutDashBroad.cshtml";
}
@section css {
    <!-- page css -->
    <link href="~/admin/assets/vendors/datatables/dataTables.bootstrap.min.css" rel="stylesheet">
}

<div class="page-container">

    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="page-header">
            <div class="header-sub-title">
                <nav class="breadcrumb breadcrumb-dash">
                    <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                    <a class="breadcrumb-item" href="#">Quản Lý Đơn Hàng</a>
                    <span class="breadcrumb-item active">Danh Sách Đơn Hàng</span>
                </nav>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row m-b-30">
                    <div class="col-lg-8">
                        <div class="d-md-flex">
                            <div class="m-b-10 m-r-15">
                                @await Component.InvokeAsync("DateListFilter")
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 text-right">
                        <a asp-action="AddOrder" asp-controller="OrderManager">
                            <button class="btn btn-primary">
                                <i class="anticon anticon-plus-circle m-r-5"></i>
                                <span>Thêm Đơn Hàng</span>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="m-t-25">
                    <table id="data-table" class="table">
                        <thead>
                            <tr>
                                <th>Mã Đơn</th>
                                <th>Tổng Tiền</th>
                                <th>Tình Trạng</th>
                                <th>Thời Gian Đặt</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var od in Model)
                            {
                                var isApproved = od.EmployeeId != null;
                                var isChecked = isApproved ? "checked" : "";
                                var statusClass = isApproved ? "btn-success" : "btn-warning";
                                var statusText = isApproved ? "Đã Duyệt" : "Chưa Duyệt";
                                <tr>
                                    <td>#@od.Id <a asp-area="Staff" asp-controller="OrderStaff" asp-action="OrderDetail" asp-route-orderId="@od.Id">(Chi Tiết)</a></td>
                                    <td>@Cart.ConvertToVND((decimal)od.TotalPrice)</td>
                                    <td><button class="btn @statusClass">@statusText</button></td>
                                    <td>@od.OrderDate</td>
                                    <td>
                                        <div class="form-group d-flex align-items-center">
                                            <div class="switch m-r-10">
                                                <input type="checkbox" id="switch-@od.Id" disabled="@isApproved" @isChecked>
                                                <label for="switch-@od.Id"></label>
                                            </div>
                                            <label>@statusText</label>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('selectDate').addEventListener('change', function () {
            var selectedValue = this.value;
            console.log('Selected Value:', selectedValue);

            if (selectedValue == "all") {
                window.location.href = "/Staff/Manager/Order/List";
            }
            // else {
            //     // Tạo URL phù hợp với router
            //     var url = "/Staff/Manager/Order/Filter/" + selectedValue;

            //     $.ajax({
            //         url: url,
            //         method: "get",
            //         data: {
            //             // Điều này là cách bạn truyền dữ liệu tới action FilterProduct
            //             categoryId: selectedValue,
            //         },
            //         success: function (data) {
            //             // Thực hiện các bước xử lý sau khi nhận được kết quả từ action
            //             window.location.href = url;
            //         },
            //         error: function () {
            //             console.log('Truyền data fail');
            //         }
            //     });
            // }

        });

    </script>
    <script>
        // Lấy ra checkbox bằng name
        var checkboxes = document.getElementsByName('switch');

        // Đính kèm sự kiện change cho mỗi checkbox
        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                if (this.checked) {
                    console.log('Checkbox ' + this.id + ' đã được chọn.');
                        var url = "/Staff/Manager/Order/Accept";

                        $.ajax({
                            url: url,
                            method: "post",
                            data: {
                                 orderId: this.id,
                            },
                            success: function (data) {
                                // window.location.href = url;
                                console.log(data);
                            },
                            error: function () {
                                console.log('Truyền data fail');
                            }
                        });
                    // Thêm code xử lý khi checkbox được chọn ở đây
                } else {
                    console.log('Checkbox ' + this.id + ' đã bỏ chọn.');
                    // Thêm code xử lý khi checkbox được bỏ chọn ở đây
                }
            });
        });
    </script>
    <!-- page js -->
    <script src="~/admin/assets/vendors/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin/assets/vendors/datatables/dataTables.bootstrap.min.js"></script>
    <script>
        $('#data-table').DataTable();
    </script>
}