@model BookStore.Models.IventoryProduct

@{
    string title = "Xem Đơn Nhập";
    bool disableInputs = true;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">@title - "@Model.MaSachNavigation.BookName"</h5>
            <button type="button" class="close" data-dismiss="modal">
                <i class="anticon anticon-close"></i>
            </button>
        </div>
        <form asp-area="InventoryManager" asp-controller="Order" asp-action="UpdateOrderById" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="User.FullName" class="font-weight-semibold">Người đề ngh</label>
                    <span class="form-control" disabled>@Model.User.FullName</span>
                    <span asp-validation-for="User.FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaSach" class="font-weight-semibold">Tên Sản Phẩm</label>
                    <span class="form-control" disabled>@Model.MaSachNavigation.BookName</span>
                    <span asp-validation-for="MaSach" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SoLuongNhap" class="font-weight-semibold">Số Lượng</label>
                    <span class="form-control" disabled>@Model.SoLuongNhap</span>
                    <span asp-validation-for="SoLuongNhap" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DonGiaNhap" class="font-weight-semibold">Đơn Giá</label>
                    <span class="form-control" disabled>@Cart.ConvertToVND((decimal)Model.DonGiaNhap)</span>
                    <span asp-validation-for="DonGiaNhap" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vat" class="font-weight-semibold">VAT</label>
                    <span class="form-control" disabled>@Model.Vat</span>
                    <span asp-validation-for="Vat" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ThanhTien" class="font-weight-semibold">Thành Tiền</label>
                    <span class="form-control" disabled>@Cart.ConvertToVND((decimal)@Model.ThanhTien)</span>
                    <span asp-validation-for="ThanhTien" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NgayNhap" class="font-weight-semibold">Ngày Nhập</label>
                    <span class="form-control" disabled>@Model.NgayNhap</span>
                    <span asp-validation-for="NgayNhap" class="text-danger"></span>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @if (!disableInputs)
                {
                    <button type="submit" class="btn btn-primary">Save changes</button>
                }
            </div>
        </form>
    </div>
</div>