@{
    ViewData["Title"] = "Product Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashBroad.cshtml";
}
@model Book
<div class="page-container">

    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="page-header no-gutters has-tab">
            <div class="d-md-flex m-b-15 align-items-center justify-content-between">
                <div class="media align-items-center m-b-15">
                    <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                        <img src="@Url.Content("~/ProductsImages/Images/" + Model.PictureThumb)" alt="">
                    </div>
                    <div class="m-l-15">
                        <h4 class="m-b-0">@Model.BookName</h4>
                        <p class="text-muted m-b-0">Product Id: #@Model.Isbn</p>
                    </div>
                </div>
                <div class="m-b-15">
                    <a asp-controller="ProductAdmin" asp-action="Edit" asp-route-productId="@Model.Isbn" style="text-decoration:none">
                        <button class="btn btn-primary">
                            <i class="anticon anticon-edit"></i>
                            <span>Edit</span>
                        </button>
                    </a>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#product-overview">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#product-images">Product Images</a>
                </li>
            </ul>
        </div>
        <div class="container-fluid">
            <div class="tab-content m-t-15">
                <div class="tab-pane fade show active" id="product-overview">
                    <div class="row">           
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media align-items-center">
                                        <i class="font-size-40 text-primary anticon anticon-shopping-cart"></i>
                                        <div class="m-l-15">
                                            <p class="m-b-0 text-muted">Sales</p>
                                            <h3 class="m-b-0 ls-1">1,521</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media align-items-center">
                                        <i class="font-size-40 text-primary anticon anticon-stock"></i>
                                        <div class="m-l-15">
                                            <p class="m-b-0 text-muted">Available Stock</p>
                                            <h3 class="m-b-0 ls-1">@Model.Stock</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Thông tin cơ bản</h4>
                            <div class="table-responsive">
                                <table class="product-info-table m-t-20">
                                    <tbody>
                                        <tr>
                                            <td>Giá Bán:</td>
                                            <td class="text-dark font-weight-semibold">@Cart.ConvertToVND((decimal)Model.Price)</td>
                                        </tr>
                                        <tr>
                                            <td>Danh Mục:</td>
                                            <td>@Model.BookCategory.Name</td>
                                        </tr>
                                        <tr>
                                            <td>Tác Giả:</td>
                                            <td>@Model.Author.Name</td>
                                        </tr>
                                        <tr>
                                            <td>NXB:</td>
                                            <td>@Model.Publisher.Name</td>
                                        </tr>
                                        <tr>
                                            <td>Kho:</td>
                                            <td>
                                                @if (Model.Stock <= 0)
                                                {
                                                    <span class="badge badge-danger">Hết Hàng</span>
                                                }
                                                else if (Model.Stock > 0 && Model.Stock < 10)
                                                {
                                                    <span class="badge badge-warning">Còn Ít</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-success">Còn Hàng</span>
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Thông tin chi tiết</h4>
                            <div class="table-responsive">
                                <table class="product-info-table m-t-20">
                                    <tbody>
                                        <tr>
                                            <td>Ngôn ngữ:</td>
                                            <td>@Model.Language</td>
                                        </tr>
                                        <tr>
                                            <td>Năm xuất bản:</td>
                                            <td>@Model.PublishYear</td>
                                        </tr>
                                        <tr>
                                            <td>Số trang:</td>
                                            <td>@Model.TotalPage</td>
                                        </tr>
                                        <tr>
                                            <td>Discount:</td>
                                            <td>@Model.Discount</td>
                                        </tr>
                                        <tr>
                                            <td>Tình trạng:</td>
                                            @if (Model.Status > 0)
                                            {
                                                <td><span class="badge badge-success">Đang bán</span></td>
                                            }
                                            else
                                            {
                                                <td><span class="badge badge-danger">Chưa bán</span></td>
                                            }

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Product Description</h4>
                        </div>
                        <div class="card-body">
                            <p>@Model.Description</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="product-images">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <img class="img-fluid" src="@Url.Content("~/ProductsImages/Images/" + Model.PictureThumb)" alt="">
                                </div>
                                <div class="col-md-3">
                                    <img class="img-fluid" src="assets/images/others/product-2.jpg" alt="">
                                </div>
                                <div class="col-md-3">
                                    <img class="img-fluid" src="assets/images/others/product-3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Wrapper END -->
</div>

