@{
    ViewData["Title"] = "Product List";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashBroad.cshtml";
}

@model IEnumerable<BookStore.Models.Book>

<div class="page-container">

    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="page-header">
            <div class="header-sub-title">
                <nav class="breadcrumb breadcrumb-dash">
                    <a class="breadcrumb-item" asp-action="index" asp-controller="HomeAdmin"><i class="anticon anticon-home m-r-5"></i>Home</a>
                    <a class="breadcrumb-item" asp-action="ProductList" asp-controller="ProductAdmin">Quản Lý Sản Phẩm</a>
                    <span class="breadcrumb-item active" href="#">Danh Sách Sản Phẩm</span>
                </nav>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row m-b-30">
                    <div class="col-lg-8">
                        <div class="d-md-flex">
                            <div class="m-b-10 m-r-15">
                                @await Component.InvokeAsync("CategoryList")
                            </div>
                            <div class="m-b-10">
                                <select class="custom-select" style="min-width: 180px;">
                                    <option selected>Status</option>
                                    <option value="all">All</option>
                                    <option value="inStock">In Stock </option>
                                    <option value="outOfStock">Out of Stock</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 text-right">
                        <a asp-action="AddProduct" asp-controller="ProductAdmin">
                        <button class="btn btn-primary">
                            <i class="anticon anticon-plus-circle m-r-5"></i>
                                <span>Thêm Sản Phẩm</span>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="table-responsive" style="overflow-x:unset">
                    <table class="table table-hover e-commerce-table" id="data-table">
                        <thead>
                            <tr>
                                <th>Mã Sách</th>
                                <th>Tên Sách</th>
                                <th>Danh Mục</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Trạng thái</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model)
                            {
                                <tr>
                                    <td>
                                        #@product.Isbn
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img class="img-fluid rounded" src="@Url.Content("~/ProductsImages/Images/" + product.PictureThumb)" style="max-width: 60px" alt="">
                                            <h6 class="m-b-0 m-l-10">@product.BookName</h6>
                                        </div>
                                    </td>
                                    <td>@product.BookCategory.Name</td>
                                    <td>@Cart.ConvertToVND((decimal)product.Price)</td>
                                    <td class="text-center">@product.Stock</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            @if (product.Status < 1)
                                            {
                                                <div class="badge badge-danger badge-dot m-r-10"></div>
                                                <div>Chưa Bán</div>
                                            }
                                            else
                                            {
                                                <div class="badge badge-success badge-dot m-r-10"></div>
                                                <div>Đang Bán</div>
                                            }
                                        </div>
                                    </td>
                                    <td>
                                        <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                            <a asp-controller="ProductAdmin" asp-action="ProductDetail" asp-route-productId="@product.Isbn"><i class="anticon anticon-profile"></i></a>
                                        </button>
                                        <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                            <a asp-controller="ProductAdmin" asp-action="RemoveProduct" asp-route-productId="@product.Isbn"><i class="anticon anticon-delete"></i></a>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Wrapper END -->
    <!-- Footer START -->
    <footer class="footer">
        <div class="footer-content">
            <p class="m-b-0">Copyright © 2019 Theme_Nate. All rights reserved.</p>
            <span>
                <a href="" class="text-gray m-r-15">Term &amp; Conditions</a>
                <a href="" class="text-gray">Privacy &amp; Policy</a>
            </span>
        </div>
    </footer>
    <!-- Footer END -->

</div>

@section Scripts {
    <script>
        document.getElementById('selectIdCate').addEventListener('change', function () {
            var selectedValue = this.value;
            console.log('Selected Value:', selectedValue);

            if (selectedValue == "all") {
                window.location.href = "/Admin/Product/List";
            }
            else {
                // Tạo URL phù hợp với router
                var url = "/Admin/Product/Filter/categoryId-" + selectedValue;

                $.ajax({
                    url: url,
                    method: "get",
                    data: {
                        // Điều này là cách bạn truyền dữ liệu tới action FilterProduct
                        categoryId: selectedValue,
                    },
                    success: function (data) {
                        // Thực hiện các bước xử lý sau khi nhận được kết quả từ action
                        window.location.href = url;
                    },
                    error: function () {
                        console.log('Truyền data fail');
                    }
                });
            }

        });

    </script>
    <!-- page js -->
    <script src="~/admin/assets/vendors/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin/assets/vendors/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/admin/assets/js/pages/e-commerce-order-list.js"></script>

}
